.Button {
    padding: 20px;
}

.product__thumbnail {
    height: auto;
    width: 6%;
    cursor: pointer;
    display: inline-block;
}

.product__image {
    width: 80%;
    height: auto;
}

.product__thumbnail--active {
    border: 1px solid black;
}

.product__variant_tag {
    cursor: pointer;
}

.product__variant_tag--out {
    cursor: not-allowed;
    opacity: 0.2;
}

.stat__card {
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 20px;
}

.chakra-stat__label {
    font-weight: bold !important;
    font-size: 15px !important;
}
