name: Setup Studio Account

on:
  workflow_run:
    workflows: ["Initial Setup"]
    types:
      - completed

env:
  GEN: "-2023-8"
  APOLLO_KEY: ${{ secrets.APOLLO_USER_KEY }}

jobs:
  publish:
    uses: ./.github/workflows/publish-subgraph.yml
    secrets: inherit

  pqs:
    runs-on: ubuntu-latest
    steps:
      - name: Create PQ List
        run: |
          curl --request POST \
            --header 'content-type: application/json' \
            --header 'X-API-Key: ${{ secrets.APOLLO_USER_KEY }}' \
            --url 'https://graphql.api.apollographql.com/api/graphql' \
            --data '{"query":"mutation Mutation($graphId: ID!, $name: String!, $description: String, $linkedVariants: [String!]) {\n  graph(id: $graphId) {\n    createPersistedQueryList(name: $name, description: $description, linkedVariants: $linkedVariants) {\n      ... on CreatePersistedQueryListResult {\n        persistedQueryList {\n          id\n    createdAt\n        }\n      }\n    }\n  }\n}","variables":{"graphId":"${{github.actor}}${{ env.GEN }}","name":"pq_list","description":"Our PQ List","linkedVariants":["current"]}}' -o pq.json
          cat pq.json

      - name: Set Env
        run: echo "PQ_ID=$(cat pq.json | jq .data.graph.createPersistedQueryList.persistedQueryList.id)" >> $GITHUB_ENV

      - name: Install Rover
        run: | 
          curl -sSL https://rover.apollo.dev/nix/v0.19.0 | sh
          echo "$HOME/.rover/bin" >> $GITHUB_PATH

      - name: Checkout
        uses: actions/checkout@v3

      - name: Publish PQ List          
        run: | 
          rover persisted-queries publish --graph-id ${{github.actor}}${{env.GEN}} --list-id ${{env.PQ_ID}} \
            --manifest ./final/workshop-pq-manifest.json

  deploy:
    needs: publish
    uses: ./.github/workflows/deploy-router.yml
    secrets: inherit

  install-url:
    needs: deploy
    runs-on: ubuntu-latest
    steps: 
      - id: "auth"
        uses: "google-github-actions/auth@v0"
        with:
          credentials_json: ${{ secrets.GCP_CREDENTIALS }}
      - name: Get URL
        run: | 
          gcloud run services describe ${{github.actor}}-router --region us-central1 --format 'value(status.url)' > url.json
          echo "URL=$(cat url.json)" >> $GITHUB_ENV
      - name: Set URL
        run: |
          curl --request POST \
            --header 'content-type: application/json' \
            --header 'X-API-Key: ${{ secrets.APOLLO_USER_KEY }}' \
            --url 'https://graphql.api.apollographql.com/api/graphql' \
            --data '{"query":"mutation UpdateURL($name: String!, $graphId: ID!, $url: String) {\n  graph(id: $graphId) {\n    variant(name: $name) {\n      updateURL(url: $url) {\n        createdAt\n      }\n    }\n  }\n}","variables":{"name":"current","graphId":"${{github.actor}}${{ env.GEN }}","url":"${{ env.URL }}"}}'
  
  preflightScript:
    needs: publish
    runs-on: ubuntu-latest
    steps:
      - name: Create PreFlight Script
        run: |
          curl --request POST \
            --header 'content-type: application/json' \
            --header 'X-API-Key: ${{ secrets.APOLLO_USER_KEY }}' \
            --url 'https://graphql.api.apollographql.com/api/graphql' \
            --data '{"query":"mutation Mutation($graphId: ID!, $name: String!, $preflightScript: String) {\n  graph(id: $graphId) {\n    variant(name: $name) {\n      updatePreflightScript(preflightScript: $preflightScript) {\n        createdAt\n      }\n    }\n  }\n}","variables":{"graphId":"${{github.actor}}${{ env.GEN }}","name":"current","preflightScript":"const API_KEY=\"AIzaSyBGEWuarfRs4vVIzbdPj7EU_h3tMAVO_e4\";console.log(\"fetching new token.....\");const getToken=async e=>{let o=await explorer.fetch(\"https:\/\/identitytoolkit.googleapis.com\/v1\/accounts:signInWithPassword?key=AIzaSyBGEWuarfRs4vVIzbdPj7EU_h3tMAVO_e4\",{method:\"POST\",header:{\"Content-Type\":\"application\/json\"},body:JSON.stringify({email:e,password:\"apolloworkshop\",returnSecureToken:!0})});return o.json()},authorizedCredentials=await getToken(\"yes@apolloworkshop.com\"),{idToken:authorizedToken}=authorizedCredentials;explorer.environment.set(\"authorizedToken\",authorizedToken),console.log(\"successfully set authorized token\");const unauthorizedCredentials=await getToken(\"no@apolloworkshop.com\"),{idToken:unauthorizedToken}=unauthorizedCredentials;explorer.environment.set(\"unauthorizedToken\",unauthorizedToken),console.log(\"successfully set token unauthorized token\");"}}'